/*.swiper-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding-top: 10rem;
}*/
/*SLIDER*/
/*MUNUCIPALITY*/
/*div#swiper-muni1 {
    background-image:url("/css/images/portfolio/municipality/1.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni1:hover {
    background-image:url("/css/images/portfolio/municipality/04-Prueba1-03.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni2 {
    background-image:url("/css/images/portfolio/municipality/2.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni2:hover {
    background: #000000;
}
div#swiper-muni3 {
    background-image:url("/css/images/portfolio/municipality/3.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni3:hover {
    background: #000000;
}
div#swiper-muni4 {
    background-image:url("/css/images/portfolio/municipality/4.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni4:hover {
    background: #000000;
}
div#swiper-muni5 {
    background-image:url("/css/images/portfolio/municipality/5.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni5:hover {
    background: #000000;
}
div#swiper-muni6 {
    background-image:url("/css/images/portfolio/municipality/6.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni6:hover {
    background: #000000;
}
div#swiper-muni7 {
    background-image:url("/css/images/portfolio/municipality/7.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni7:hover {
    background: #000000;
}
div#swiper-muni8 {
    background-image:url("/css/images/portfolio/municipality/8.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni8:hover {
    background: #000000;
}*/
[class^="swiper-button-"], .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    transition: all .3s ease;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-container {
    margin-top:5rem;
    width: 90%;
    height: 40vw;
    transition: opacity .6s ease;
}
.swiper-container.swiper-container-coverflow {
    padding: 5% 0;
}
.swiper-container.loading {
    opacity: 0;
    visibility: hidden;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.swiper-slide {

    padding-top: 5rem;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 460px;
}
.swiper-slide .entity-img {
    display: none;
}

.swiper-slide .content .caption {
    display: block;
    font-size: 12px;
    line-height: 1.4;
}

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}

.swiper-button-next {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: .4;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
}
@media (max-width: 1180px) {
    .swiper-container {
        height: 40vw;
    }

    .swiper-slide .content .title {
        font-size: 25px;
    }
    .swiper-slide .content .caption {
        font-size: 12px;
    }
}
@media (max-width: 1023px) {
    .swiper-container {
        height: 70vw;
    }
    .swiper-container.swiper-container-coverflow {
        padding-top: 0;
    }
}

/*MUNICIPALITY*/
div#swiper-muni1 {
    background-image:url("/css/images/portfolio/municipality/1.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni1:hover {
    background-image:url("/css/images/portfolio/municipality/1i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni2 {
    background-image:url("/css/images/portfolio/municipality/2.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni2:hover {
    background-image:url("/css/images/portfolio/municipality/2i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni3 {
    background-image:url("/css/images/portfolio/municipality/3.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni3:hover {
    background-image:url("/css/images/portfolio/municipality/3i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni4 {
    background-image:url("/css/images/portfolio/municipality/4.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni4:hover {
    background-image:url("/css/images/portfolio/municipality/4i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni5 {
    background-image:url("/css/images/portfolio/municipality/5.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni5:hover {
    background-image:url("/css/images/portfolio/municipality/5i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni6 {
    background-image:url("/css/images/portfolio/municipality/6.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni6:hover {
    background-image:url("/css/images/portfolio/municipality/6i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni7 {
    background-image:url("/css/images/portfolio/municipality/7.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni7:hover {
    background-image:url("/css/images/portfolio/municipality/7i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni8 {
    background-image:url("/css/images/portfolio/municipality/8.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-muni8:hover {
    background-image:url("/css/images/portfolio/municipality/8i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#none{
    display: none;
}
/*CORPORATE*/
div#swiper-corpo1 {
    background-image:url("/css/images/portfolio/municipality/corporate/1.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo1:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/1i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo2 {
    background-image:url("/css/images/portfolio/municipality/corporate/2.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo2:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/2i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo3 {
    background-image:url("/css/images/portfolio/municipality/corporate/3.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo3:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/3i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo4 {
    background-image:url("/css/images/portfolio/municipality/corporate/4.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo4:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/4i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo5 {
    background-image:url("/css/images/portfolio/municipality/corporate/5.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo5:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/5i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo6 {
    background-image:url("/css/images/portfolio/municipality/corporate/6.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo6:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/6i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo7-1 {
    background-image:url("/css/images/portfolio/municipality/corporate/7.1.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo7-1:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/7.1i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo7-2 {
    background-image:url("/css/images/portfolio/municipality/corporate/7.2.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo7-2:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/7.2i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo8 {
    background-image:url("/css/images/portfolio/municipality/corporate/8.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo8:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/8i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo9-1 {
    background-image:url("/css/images/portfolio/municipality/corporate/9.1.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo9-1:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/9.1i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo9-2 {
    background-image:url("/css/images/portfolio/municipality/corporate/9.2.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo9-2:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/9.2i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo10 {
    background-image:url("/css/images/portfolio/municipality/corporate/10.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-corpo10:hover {
    background-image:url("/css/images/portfolio/municipality/corporate/10i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
/*EVENTS*/
div#swiper-events1 {
    background-image:url("/css/images/portfolio/municipality/events/1.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events1:hover {
    background-image:url("/css/images/portfolio/municipality/events/1i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events2 {
    background-image:url("/css/images/portfolio/municipality/events/2.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events2:hover {
    background-image:url("/css/images/portfolio/municipality/events/2i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events3 {
    background-image:url("/css/images/portfolio/municipality/events/3.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events3:hover {
    background-image:url("/css/images/portfolio/municipality/events/3i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events4 {
    background-image:url("/css/images/portfolio/municipality/events/4.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events4:hover {
    background-image:url("/css/images/portfolio/municipality/events/4i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events5 {
    background-image:url("/css/images/portfolio/municipality/events/5.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events5:hover {
    background-image:url("/css/images/portfolio/municipality/events/5i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events6 {
    background-image:url("/css/images/portfolio/municipality/events/6.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events6:hover {
    background-image:url("/css/images/portfolio/municipality/events/6i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events7 {
    background-image:url("/css/images/portfolio/municipality/events/7.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events7:hover {
    background-image:url("/css/images/portfolio/municipality/events/7i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events8 {
    background-image:url("/css/images/portfolio/municipality/events/8.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events8:hover {
    background-image:url("/css/images/portfolio/municipality/events/8i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events9 {
    background-image:url("/css/images/portfolio/municipality/events/9.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events9:hover {
    background-image:url("/css/images/portfolio/municipality/events/9i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events10 {
    background-image:url("/css/images/portfolio/municipality/events/10.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events10:hover {
    background-image:url("/css/images/portfolio/municipality/events/10i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
/*PUBLIC POLICY*/
div#swiper-policy1 {
    background-image:url("/css/images/portfolio/municipality/policy/1.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-events1:hover {
    background-image:url("/css/images/portfolio/municipality/policy/1i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-policy2 {
    background-image:url("/css/images/portfolio/municipality/policy/2.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-policy2:hover {
    background-image:url("/css/images/portfolio/municipality/policy/2i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-policy3 {
    background-image:url("/css/images/portfolio/municipality/policy/3.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
div#swiper-policy3:hover {
    background-image:url("/css/images/portfolio/municipality/policy/3i.png");
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 470px;
}
