<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator Site - Global Urban</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/styleAdmin.css}" rel="stylesheet" />
    <link th:href="@{/css/menu.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script>
</head>
    <body>
    <nav>
        <a href="#home"><img src="/css/images/LogoGUS-04-02.png"/></a>

        <ul>
            <li data-menuanchor="welcome" class="active">
                <a href="#welcome">WELCOME</a>
            </li>
            <li data-menuanchor="aboutUs">
                <a href="#aboutUs">ABOUT US</a>
            </li>
            <li data-menuanchor="services">
                <a href="#services">SERVICES</a>
            </li >
            <li data-menuanchor="portfolio">
                <a href="#portfolio">PORTFOLIO</a>
            </li>
            <li data-menuanchor="contactUs">
                <a href="#contactUs">CONTACT US</a>
            </li>
        </ul>
    </nav>
    <!--SLIDER-->
    <div id="fullpage">
        <!--SLIDE 1/HOME-->
        <video autoplay muted loop id="videoHome">
            <source src="/css/video/HomeVideo.mp4" type="video/mp4">
        </video>

        <nav>
            <a href="#home"><img src="/css/images/LogoGUS-04-02.png"/></a>

            <ul>
                <li data-menuanchor="welcome" class="active">
                    <a href="#welcome">WELCOME</a>
                </li>
                <li data-menuanchor="aboutUs">
                    <a href="#aboutUs">ABOUT US</a>
                </li>
                <li data-menuanchor="services">
                    <a href="#services">SERVICES</a>
                </li >
                <li data-menuanchor="portfolio">
                    <a href="#portfolio">PORTFOLIO</a>
                </li>
                <li data-menuanchor="contactUs">
                    <a href="#contactUs">CONTACT US</a>
                </li>
                <li>
                    <form action="#" th:action="@{/addClient}">
                        <p><input class="newClient" type="submit" value="+NEW CLIENT" />
                    </form>
                </li>
            </ul>
        </nav>

            <div class="section " id="section0">
                <h1>WELCOME TO ADMINISTRATOR SITE</h1>
                <form action="#" th:action="@{/GlobalUrban/}">
                    <p><input type="submit" value="LOG OUT" />
                </form>
            </div>
            <!--SLIDE 2/WELCOME-->
            <div class="section " id="section1">
                <li class="admin" th:each="inf : ${inf}">
                    <form action="#" th:action="@{/infoEdit} " method="POST" modelAttribute="information">
                        <div class="welcomeInf" style="word-wrap: break-word;">
                            <textarea th:text="${inf.aboutus}" style="display:none;" name="aboutus" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.introservice}" style="display:none;" name="introservice" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.grantwriadmin}" style="display:none;" name="grantwriadmin" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.graphicdesign}" style="display:none;" name="graphicdesign" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.graphicdesignTwo}" style="display:none;" name="graphicdesignTwo" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.goverenti}" style="display:none;" name="goverenti" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.goverti2}" style="display:none;" name="goverenti2" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.outeducation}" style="display:none;" name="outeducation" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.introportfolio}" style="display:none;" name="introportfolio" th:inline="text"></textarea>

                            <textarea th:text="${inf.gaewwwu}" style="display:none;" name="gaewwu" th:inline="text"></textarea>
                            <textarea th:text="${inf.gdmwwwu}" style="display:none;" name="gdmwwu" th:inline="text"></textarea>
                            <textarea th:text="${inf.seewwwu}" style="display:none;" name="seewwu" th:inline="text"></textarea>
                            <textarea th:text="${inf.gwawwwu}" style="display:none;" name="gwawwu" th:inline="text"></textarea>




                            <textarea id="welcomeTa" th:text="${inf.welcome}" name="welcome" th:inline="text"></textarea><br>
                            <input type="submit" class="save" value="" />
                        </div>
                    </form>
                </li>
            </div>
            <!--SLIDE 3/ABOUT US-->
            <div class="section " id="section2">
                <div class="allText">
                    <li class="admin" th:each="inf : ${inf}">
                        <form action="#" th:action="@{/infoEdit} " method="POST" modelAttribute="information">
                            <textarea th:text="${inf.welcome}" style="display:none;" name="welcome" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.introservice}" style="display:none;" name="introservice" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.grantwriadmin}" style="display:none;" name="grantwriadmin" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.graphicdesign}" style="display:none;" name="graphicdesign" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.graphicdesignTwo}" style="display:none;" name="graphicdesignTwo" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.goverenti}" style="display:none;" name="goverenti" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.goverti2}" style="display:none;" name="goverenti2" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.outeducation}" style="display:none;" name="outeducation" th:inline="text"></textarea><br>
                            <textarea th:text="${inf.introportfolio}" style="display:none;" name="introportfolio" th:inline="text"></textarea>

                            <textarea th:text="${inf.gaewwwu}" style="display:none;" name="gaewwu" th:inline="text"></textarea>
                            <textarea th:text="${inf.gdmwwwu}" style="display:none;" name="gdmwwu" th:inline="text"></textarea>
                            <textarea th:text="${inf.seewwwu}" style="display:none;" name="seewwu" th:inline="text"></textarea>
                            <textarea th:text="${inf.gwawwwu}" style="display:none;" name="gwawwu" th:inline="text"></textarea>

                            <textarea id="aboutUsTa" th:text="${inf.aboutus}" type="text" name="aboutus" th:inline="text"></textarea>

                        <input type="submit" class="save" value="" />
                        </form>
                    </li>
                </div>
            </div>
             <!--   <form action="#" th:action="@{/aboutUsV}">
                    <p><input class="next" type="submit" value=""/>
                </form>-->
            <!--SLIDE 4 / SERVICES-->
            <div class="section " id="section3">
                <table style="width:90%" align="center">
                    <tr>
                        <td width="50%">
                            <table id="servicesTable">
                                <tr>
                                    <td width="50%" style="border-bottom: 10px ridge  transparent;border-right: 10px ridge  transparent;">
                                        <form action="#" th:action="@{/GWAadmin}">
                                            <p><input id="servicesImg1" type="submit" value=""/>
                                        </form>
                                    </td>
                                    <td width="50%" style="border-bottom: 0px ridge  transparent;border-left: 20px ridge  transparent;">
                                        <form action="#" th:action="@{/GDMadmin}">
                                            <p><input id="servicesImg2" type="submit" value=""/>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="border-bottom: 0px ridge  transparent;border-right: 20px ridge  transparent;">
                                        <form action="#" th:action="@{/SEEadmin}">
                                            <p><input id="servicesImg3" type="submit" value=""/>
                                        </form>
                                    </td>
                                    <td width="50%" style="border-bottom: 0px ridge  transparent;border-left: 20px ridge  transparent;">
                                        <form action="#" th:action="@{/GAEadmin}">
                                            <p><input id="servicesImg4" type="submit" value=""/>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%; height: 60px">
                            <img id="servicesSlides" src="/css/images/ServicesSlide.jpg"/>
                            <li class="admin" th:each="inf : ${inf}">
                                <form action="#" th:action="@{/infoEdit} " method="POST" modelAttribute="information">

                                    <textarea th:text="${inf.welcome}" style="display:none;" name="welcome" th:inline="text"></textarea><br>
                                    <textarea th:text="${inf.aboutus}" style="display:none;" name="aboutus" th:inline="text"></textarea><br>
                                    <textarea th:text="${inf.grantwriadmin}" style="display:none;" name="grantwriadmin" th:inline="text"></textarea><br>
                                    <textarea th:text="${inf.graphicdesign}" style="display:none;" name="graphicdesign" th:inline="text"></textarea><br>
                                    <textarea th:text="${inf.graphicdesignTwo}" style="display:none;" name="graphicdesignTwo" th:inline="text"></textarea><br>
                                    <textarea th:text="${inf.goverenti}" style="display:none;" name="goverenti" th:inline="text"></textarea><br>
                                    <textarea th:text="${inf.goverti2}" style="display:none;" name="goverenti2" th:inline="text"></textarea><br>
                                    <textarea th:text="${inf.outeducation}" style="display:none;" name="outeducation" th:inline="text"></textarea><br>
                                    <textarea th:text="${inf.introportfolio}" style="display:none;" name="introportfolio" th:inline="text"></textarea>

                                    <textarea th:text="${inf.gaewwwu}" style="display:none;" name="gaewwu" th:inline="text"></textarea>
                                    <textarea th:text="${inf.gdmwwwu}" style="display:none;" name="gdmwwu" th:inline="text"></textarea>
                                    <textarea th:text="${inf.seewwwu}" style="display:none;" name="seewwu" th:inline="text"></textarea>
                                    <textarea th:text="${inf.gwawwwu}" style="display:none;" name="gwawwu" th:inline="text"></textarea>

                                    <textarea id="servicesTa" th:text="${inf.introservice}" type="text" name="introservice" th:inline="text"></textarea>
                                    <input type="submit" class="save" value="" />
                                </form>
                            </li>
                        </td>
                    </tr>
                </table>
            </div>
            <!--SLIDE 5/ PORTFOLIO-->
            <div class="section " id="section4">
                <h1>SLIDE PORTFOLIO</h1>
                <!--SLIDE 6/ CONTACT US-->
            </div>
            <div class="section " id="section5">
                <h1>SLIDE CONTACT US</h1>
            </div>
        </div>
        <script>
            $(function () {
                $('#fullpage').fullpage({
                    menu: 'nav',
                    anchors: ['home','welcome','aboutUs', 'services', 'portfolio', 'contactUs'],
                    scrollBar: false,
                    navigation: true,
                    navigationPosition: 'right',
                    navigationTooltips: ['HOME','WELCOME','ABOUT US','SERVICES','PORTFOLIO','CONTACT US'],
                    slidesNavigation: true
                });
            });
        </script>
    </body>
</html>