<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Credentials - Global Urban Strategies Inc</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/styleAdmin.css}" rel="stylesheet" />
    <link th:href="@{/css/menu.css}" rel="stylesheet" />
</head>
<body class="newClient">
    <div class="newClientConfirm">
        <!-FORM TO CONFIRM CREDENTIALS-->
        <h1>BEFORE FINISHING, PLEASE CONFIRM YOUR CREDENTIALS</h1><br><br><br>
        <form action="#" th:action="@{/adminLogin}" method="POST" modelAttribute="administrator">
            <input class="Login" style="background-color:transparent;" placeholder="Username" type="text" name="unadmin" path="unadmin"/><br>
            <br><br>
            <input class="Login" style="background-color:transparent;" placeholder="Password" type="password" name="passadmin" path="passadmin"/><br>

            <br><br>
            <input class="save" type="submit" value="">
        </form>
        <!-END-->
    </div>
</body>
</html>